<header>
    
    <a id="home-header" href="/">Home</a>
    <a id="recipes-header" href="/recipes/display">Recipes</a>
    <a id="recipes-by-user-header" href="/recipes/byusers">Users</a>
    <a id="account-header" href="/users/myaccount">My Account</a>
    <a id="login-header" href="/users/<%=pathText %>"><%= `${linkText}` %></a>

</header>