<header>
    
    <a href="/">Home</a>
    <a href="/recipes/display">Recipes</a>
    <!-- <a href="/users/display">Users</a> -->
    <a href="/users/<%=pathText %>"><%= `${linkText}` %></a>

</header>