<header>
    
    <a id="home-header" href="/">Home</a>
    <a id="recipes-header" href="/recipes/display">Recipes</a>
    <!-- <a href="/users/display">Users</a> -->
    <a id="login-header" href="/users/<%=pathText %>"><%= `${linkText}` %></a>

</header>