<!--Homepage-->
<body>
        <div id="website-title">
                <h1>GA Cookbook</h1>
        </div>
        <div class="home-buttons">
                <a href="/recipes/display"><button class="recipes-home-button">Recipes</button></a>
                <a href="/users/login"><button class="login-home-button">Log In</button></a>
                <a href="/recipes/byusers"><button class="recipes-by-users">Recipes By Users</button></a>
        </div>
</body>
