<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Links -->
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Pacifico&display=swap" rel="stylesheet">
    <title>General Assembly Cookbook</title>
    <!-- Link to css page -->
    <link href="/public/css/style.css" rel="stylesheet" type="text/css">
</head>
<style>

</style>
<body>
   
    <%- include('./partials/header.ejs') %>
    <%- body %>
    <%- include('./partials/footer.ejs') %>
</body>
</html>