<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General Assembly Cookbook</title>
    <!-- should be able to link a styles sheet here -->
</head>
<style>

</style>
<body>
    <%- include('../partials/header.ejs') %>
    <%- body %>
    <%- include('../partials/footer.ejs') %>
</body>
</html>