<h2>Login page</h2>
<%= messageAlreadyLoggedIn%>
<br>
<form class="login" method="POST" action="/users/login">
        <label for="email" >e-mail</label>
        <input id="email" type="email" name="email">

        <label for="password">Password</label>
        <input id="password" type="password" name="password">

    <input type="submit" value="Submit">

<button><a href="/users/signup">Create new user</a></button>