<h2>Sign Up Page</h2>

<form class="signup" method="POST" action="/users/newuser"> 
    <input id="name" type="text" name="name">
    <label for="name">Enter full name: </label>

    <input id="email" type="email" email="email">
    <label for="email">Enter email address: </label>

    <input id="password" type="password" password="password">
    <label for="password">Create your password: </label>

    <input type="submit" value="submit">
    or <a href="./userlogin.ejs">Login</a>
</form>