<div class="recipes-list">
    <div class="recipes-list-title">
        <h2>Our Recipes</h2>
    </div>
<ul id="recipesIndex">
    <% for(let i = 0; i < allRecipes.length; i++) {
        let recipeNumber = i + 1
        %>

    <li>
        <a class="recipeLink" href="/recipes/<%= allRecipes[i].id %>"> <%= allRecipes[i].title %></a>   
    </li>   
   <% } %>
</ul>
<button><a href="/recipes/createrecipe">Create New Recipe</a></button>

</ul>
</div>