<h3>Click on the authors to find recipes by them:</h3>

<ul id="usersIndex">
    <% for(let i = 0; i < allUsers.length; i++) {
        let userNumber = i + 1
        %>

    <li>
    <a class="userLink" href="/recipes/users/<%= allUsers[i].id %>"><%= allUsers[i].name %></a>
    </li>   
   <% } %>
</ul>
