<h2>Recipes list</h2>
<ul id="recipesIndex">
    <% for(let i = 0; i < allRecipes.length; i++) {
        let recipeNumber = i + 1
        %>

    <li>
        <a class="recipeLink" href="/recipes/<%= allRecipes[i].id %>"> <%= allRecipes[i].title %></a>   
    </li>   
   <% } %>
</ul>
<button><a href="/recipes/createrecipe">Create New Recipe</a></button>
<h3>Click on the authors to find recipes by them:</h3>

<ul id="usersIndex">
    <% for(let i = 0; i < allUsers.length; i++) {
        let userNumber = i + 1
        %>

    <li>
    <a class="userLink" href="/users/<%= allUsers[i].id %>"><%= allUsers[i].name %></a>
    </li>   
   <% } %>
</ul>