<h2>Sign Up Page</h2>

<form class="signup" method="POST" action="/users/signup"> 
    <label for="name">Enter full name: </label>
    <input id="name" type="text" name="name">

    <label for="email">Enter email address: </label>
    <input id="email" type="email" name="email">

    <label for="password">Create your password: </label>
    <input id="password" type="password" name="password">

    <input type="submit" value="submit">
    or <a href="./login.ejs">Login</a>
</form>