body {
    background-color: rgba(252, 250, 195, 0.795);
}


/* --------Header-------- */
header {
    border: 5px solid black;
    padding: 5px;
    font-family: 'Courgette', cursive;
}

#login-header {
    position: absolute;
    right: 25px;
    font-size: 15px;
}

#recipes-header {
    padding: 10px;
    font-size: 15px;
}

#home-header {
    padding: 10px;
    font-size: 15px;
}


/* --------Home Page-------- */
#website-title {
    position: relative;
    text-align: center;
    font-size: 50px;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Delius Swash Caps', cursive;
    top: -15px;
}

.recipes-home-button {
    text-align: center;
    width: 345px;
    height: 130px;
    border-radius: 100%;
    font-family: 'Courgette', cursive;
    font-size: 78px;
    cursor: pointer;
}

.login-home-button {
    text-align: center;
    width: 345px;
    height: 130px;
    border-radius: 100%;
    font-family: 'Courgette', cursive;
    font-size: 78px;
    cursor: pointer;
}

.home-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    top: -50px;
    position: relative;
}


/* --------Footer-------- */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    bottom: 0px;
    /* font-family: 'Courgette', cursive; */
    font-family: 'Delius Swash Caps', cursive;
}


/* --------Login Page-------- */
.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 25px;
    /* font-family: 'Courgette', cursive; */
    font-family: 'Delius Swash Caps', cursive;
}

.form-group {
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

#create-new-user {
    display: flex;
}

.submit-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-link {
    font-family: 'Courgette', cursive;
    font-size: 12px;
}

.login-title {
    font-size: 50px;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Courgette', cursive;
}


/* --------Signup Page-------- */
.sign-up-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 25px;
    /* font-family: 'Courgette', cursive; */
    font-family: 'Delius Swash Caps', cursive;
}

.login-link {
    font-family: 'Courgette', cursive;
    font-size: 12px;
}

.sign-up-title {
    font-size: 50px;
    font-family: 'Courgette', cursive;
}